# Documentation
doc/apidocs/*
doc/*.aux
doc/*.log
doc/*.out
doc/*.toc
doc/*.bbl
doc/*.blg
doc/main.pdf
doc/plugins_generated.tex

# Build-related
.sconf_temp
build/release
build/Release
build/debug
build/Debug
debian
.sconsign.dblite
config.py
config.log
*.pyc

# CMake-related
build/.cmake
build/.ninja*
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/binaries
build/src
build/data
build/CMakeFiles
build/rules.ninja
build/install_manifest.txt
build*


# VSCode-related
.vscode
.idea

# MSVC++-related
build/mitsuba-msvc2017.sdf
build/mitsuba-msvc2017.suo
build/mitsuba-msvc2017.vcxproj.user
build/.vs/**/*
data/windows/mitsuba_res.res
dist

# Debugging history files
\.gdb_history

# Dependencies
dependencies
3rdparty

# OSX binaries and byproducts
Mitsuba.app
.DS_Store

# Imported geometry and some default output types
/meshes
/textures
mitsuba.*.log
*.exr

# Eclipse CDT project files
.externalToolBuilders
.settings
.cproject
.project

install*
build*
deps*